@use './styles/colors' as *;


body {
  color: theme-color(color-white);
  background-color: theme-color(color-secondary);
  padding: 0.5rem;

  @media (min-width: 768px) {
    padding: 1rem;
  }

}


.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
        "header"
        "main-content"
        "footer";
  min-height: 400vh;

  background-color: theme-color(color-primary);

}

header {
  grid-area: header;
  text-align: center;
}


.main-content {
  grid-area: main-content;
  text-align: center;
}

footer {
  grid-area: footer;
  text-align: center;
}
